body{
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 400;
}

#mainNavbar .navbar-brand{
    color: #ea1c2c;
    font-size: 1.5rem;
}

#mainNavbar .nav-link{
    color: rgb(184, 159, 159);
}

#mainNavbar .nav-link:hover{
    color: #ea1c2c;
}

#headingGrp span{
    color: #ea1c2c;
}

#headingGrp h1{
    font-weight: 100;
    font-size: 4rem;
}
.temp h2{
    color:#ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.temp p{
    color:#c56989;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.spacing{
    margin-bottom: 100px;
}

.navbar.scrolled{
    background: rgb(83, 32, 83);
    transition: all ease-out 150ms;    
}

@media(max-width:1350px)
{
    #headingGrp h1{
        font-size: 2.78rem;
    }
}

html{
    overflow-x: hidden;
}